html body {
  margin: 0;
  height: 100%;
}

.header {
  padding: 15px 0;
  background-color: #ffffff;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0px solid green;
}

.logo-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0px solid green;
  width: 80%;
}

.logo-content-img {
  border: solid 0px #42515f;
}

/* ***************** */
.add-text {
  font: normal normal bold 20px/25px Montserrat;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0px;
  color: #82a70c;
  text-transform: capitalize;
}

.address-book {
  color: #42515f;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
}

.header {
  padding: 15px 0;
  background-color: rgb(255, 250, 250);
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0px solid green;
}

.logo-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  border: 0px solid green;
}

.logo-content img {
  border: 0px solid #42515f;
}

.add-text {
  font: normal normal bold 20px/25px Montserrat;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0px;
  color: #82a70c;
  text-transform: capitalize;
}

.address-book {
  color: #42515f;
}

* {
  box-sizing: border-box;
}

.form-content {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  align-items: center;
  border: 0px solid #82a70c;
  min-height: calc(100%-80px);
}

.form {
  width: 65%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid rgb(240, 235, 235);
  border-radius: 8px;
  opacity: 1;
}

.address-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #008cff 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 8px 8px 0px 0px;
}

.address-header-content {
  text-align: left;
  font: normal normal normal 25px/37px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  margin: auto;
  font-family: monospace;
  font-weight: 600;
}

.cancel-button {
  padding: 25px;
}

/* form */

.row-content {
  display: flex;
  flex-flow: column;
  align-content: flex-start;
  padding: 10px 130px;
}

.label {
  text-align: left;
  font: normal normal normal 18px/24px Roboto;
  letter-spacing: 0px;
  color: #42515f;
  opacity: 1;
}

.input {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  opacity: 1;
  padding: 10px;
}

.address-label {
  text-align: left;
  font: normal normal normal 18px/24px Roboto;
  letter-spacing: 0px;
  color: #42515f;
  opacity: 1;
}

.address-text {
  height: 100px;
}

.column-content {
  display: flex;
  flex-direction: row;
}

.row-content1 {
  display: flex;
  flex-flow: column;
  align-content: flex-start;
  padding: 10px 130px;
}

.select-elements {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  border: 0px solid;
  margin-left: 130px;
  margin-right: 130px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.select {
  padding: 12px;
  border: 1px solid #becbd6;
  border-radius: 4px;
  font: normal normal normal 16px Roboto;
  letter-spacing: 0px;
  color: #42515f;
  background-color: transparent;
  resize: vertical;
  width: 170px;
}
